body {
	margin: 0 auto;
	font-family: sf pro;
	background: silver;
	color: white;
	width: 900%;
}

a {
	color: white;
}

a:hover {
	color: lavenderblush;
	background: linear-gradient(0deg, rgba(255,114,255,0.5) 0%, rgba(192,192,192,0) 100%);
}

hr {
	border-bottom: none;
	border: solid 0.5px whitesmoke;
}

img {
	width: 250px;
}

button {
	font-family: hibiya;
	background: inherit;
	color: inherit;
}

button:hover {
	color: white;
	background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(199,178,199,1) 100%);
}

pre {
	font-family: monospace;
	dont-size: inherit;
}

#header {
	font-family: hibiya;
	position: fixed;
	top: 20px;
}

#main {
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items: center;
	width: 200%;
}

#footer {
	font-family: hibiya;
	position: fixed;
	bottom: 20px;
}

.icon {
	font-family: icon;
}

.post {
	border: dashed 1.5px whitesmoke;
	padding: 6px;
	margin: 100px;
	max-width: 275px;
}

@font-face {
	font-family: "hibiya";
	src: url("assets/hibiya.ttf") format('truetype');
}

@font-face {
	font-family: "icon";
	src: url("assets/icon.ttf") format('truetype');
}