body {
	margin: 0 auto;
	font-family: hibiya;
	background: silver;
	color: white;
	image-rendering: crisp-edges;
}

a {
	color: white;
}

a:hover {
	color: red;
	background: hotpink;
}

hr {
	border-bottom: none;
	border: solid 0.5px whitesmoke;
}

#header {
	position: fixed;
	top: 20px;
}

#main {
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items: center;
	width: 9000px;
}

#footer {
	position: fixed;
	bottom: 20px;
}

.icon {
	font-family: icon;
}

.post {
	border: dashed 1.5px whitesmoke;
	padding: 5px;
	margin: 100px;
}

@font-face {
	font-family: "hibiya";
	src: url("assets/hibiya.ttf") format('truetype');
}

@font-face {
	font-family: "icon";
	src: url("assets/icon.ttf") format('truetype');
}